<!-- <div class="flex flex-wrap items-center justify-between gap-4 mb-4"> -->
    <div class="border border-slate-100 dark:border-slate-400 bg-white/50 backdrop-blur-md shadow-sm inline-flex items-center gap-3 text-sm text-gray-500 pl-3 px-5 py-1 rounded-lg">
        <div class="bg-primary-100 p-2 rounded-4xl cursor-pointer hover:shadow-glow-blue">
            <svg lucideHouse class="w-4 h-4 text-primary-700"></svg>
        </div>
        <svg lucideChevronRight class="w-4 h-4 text-slate-500 dark:text-slate-300"></svg>
        <span class="text-blue-500 dark:text-blue-300">Global</span>
        <svg lucideChevronRight class="w-4 h-4 text-slate-500 dark:text-slate-300"></svg>
        <span class="text-secondary-600 dark:text-primary-500 font-semibold cursor-pointer">Administrative Units</span>
        <!-- <mat-icon class="material-symbols-outlined text-primary-500">
            home
        </mat-icon> -->
        <!-- <mat-icon class="material-symbols-outlined">
            keyboard_arrow_right
        </mat-icon> -->
    </div>
    <!-- <!-- <div class="flex items-center gap-3">
        <button
            class="bg-white rounded-lg px-4 py-2.5 flex items-center gap-2 text-sm font-medium shadow-md hover:shadow-glass transition lift shine-sweep">
            <svg lucideUpload class="w-4 h-4"></svg>
            Export
        </button>
        <button
            class="ripple-btn shine-sweep rounded-lg px-5 py-2.5 flex items-center gap-2 text-sm shadow-md font-semibold text-white bg-gradient-to-r from-primary-500 to-secondary-500 shadow-glow hover:shadow-glow transition cursor-pointer lift">
            <svg lucidePlus class="w-4 h-4"></svg>
            New Unit
        </button>
    </div>
</div> -->