<table mat-table [dataSource]="data()" matSort matSortActive="assignmentNo" matSortDirection="asc" matSortDisableClear
  (matSortChange)="onSortChange($event)" class="w-full table">

  <!-- Sl -->   
  <ng-container matColumnDef="sl">
    <th mat-header-cell *matHeaderCellDef>Sl.</th>
    <td mat-cell *matCellDef="let row; let i = index" class="px-3 py-1.5 text-[13px] font-medium dark:text-slate-300">
      {{ pageIndex() * pageSize() + i + 1 }}
    </td>
  </ng-container>

  <!-- Assignment No -->
  <ng-container matColumnDef="assignmentNo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="assignmentNo">Assignment No</th>
    <td mat-cell *matCellDef="let item" lass="px-3 py-1.5 text-[13px] font-medium dark:text-slate-300">
      <div class="flex items-center gap-2"> {{ item.assignmentNo }}</div>
    </td>
  </ng-container>

  <!-- Assigned Date -->
  <ng-container matColumnDef="assignmentDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="assignmentDate"> Assigned Date </th>
    <td mat-cell *matCellDef="let item"> {{ item.assignmentDate | date }} </td>
  </ng-container>

  <!-- Survey Type -->
  <ng-container matColumnDef="surveyType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="surveyType"> Survey Type </th>
    <td mat-cell *matCellDef="let item"> {{ item.surveyType}} </td>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let item"> {{ item.status }} </td>
  </ng-container>

  <!-- Action -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button (click)="onDetailView(item.id)">
        <svg lucideIcon="chevron-right"></svg>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" [class.bg-primary-500/10]="selectedId()===row.id">
  </tr>

  <tr class="mat-row" *matNoDataRow colspan="6">
    <td class="mat-cell text-center p-8 italic text-gray-500 border-b-0" [attr.colspan]="columns.length">
      No survey found.
    </td>
  </tr>
</table>

<mat-paginator [length]="totalRecords()" [pageSize]="pageSize()" [pageIndex]="pageIndex()"
  [pageSizeOptions]="[10,20,50]" (page)="onPage($event)">
</mat-paginator>