<div class="flex flex-col h-full justify-between">
    <div class="bg-white rounded-xl border border-slate-200 shadow-sm p-6">
        <h2 class="text-lg font-semibold text-slate-900 mb-6">
            Add/Edit Administrative Unit
        </h2>
        <div class="space-y-4">
            <div class="grid grid-cols-3 gap-6">
                <mat-form-field>
                    <mat-label>Unit Type</mat-label>
                    <mat-select [formField]="administrativeUnitForm.administrativeUnitTypeId"
                        placeholder="Select unit type">
                        @for (unitType of administrativeUnitTypes(); track unitType) {
                        <mat-option [value]="unitType.id">{{unitType.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                @for(parentField of parentTypes(); track parentField.id; let last = $last; let i = $index){
                <mat-form-field class="w-full">
                    <mat-label>
                        {{parentField.name}}
                    </mat-label>
                    <mat-icon class="material-symbols-outlined" matPrefix>
                        {{parentField.categoryIcon}}
                    </mat-icon>
                    @if (last) {
                    <mat-select [formField]="administrativeUnitForm.parentId">
                        @for(item of parentField.options() ?? []; track item.id){
                        <mat-option [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                        }
                    </mat-select>
                    } @else {
                    <mat-select [value]="parentField.value()" (valueChange)="onParentChanged(i, $event)">
                        @for(item of parentField.options() ?? []; track item.id){
                        <mat-option [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                        }
                    </mat-select>
                    }
                </mat-form-field>
                }
            </div>
            <div class="grid grid-cols-3 gap-6">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <mat-icon class="material-symbols-outlined" matPrefix>
                        person_outline
                    </mat-icon>
                    <input matInput [formField]="administrativeUnitForm.name" autocomplete="name"
                        placeholder="Enter name">
                </mat-form-field>
            </div>
        </div>
        <button type="button" (click)="onSubmit()"
            class="inline-flex items-center gap-2 rounded-lg border border-blue-600 px-3 py-1.5 text-sm font-medium text-blue-600 shadow-sm transition-all duration-200 hover:text-white hover:bg-blue-700 hover:shadow-md cursor-pointer">
            <span class="material-symbols-outlined text-[20px]">save</span>
            Save / Update
        </button>
    </div>
</div>