<div class="flex-1 overflow-y-auto overflow-x-hidden scroll-thin min-h-0 min-w-0">
    <mat-stepper linear #stepper class="scrollable-stepper-header bg-transparent" [selectedIndex]="activeStepIndex()"
        (selectedIndexChange)="onStepChange($event)">

        <ng-template matStepperIcon="done">
            <svg lucideIcon="check" class="w-3 h-3 text-white-600"></svg>
        </ng-template>

        <ng-template matStepperIcon="edit">
            <svg lucideIcon="pencil" class="w-3 h-3 text-white-600"></svg>
        </ng-template>

        <!-- Step 1: Basic Info -->
        <mat-step>
            <ng-template matStepLabel>Basic Info</ng-template>
            @if (activeStepIndex() === 0 && candidateMasterData()) {
            <qfin-basic-component [masterData]="candidateMasterData()!" (onSaveStep)="handleStepSave($event, 1)">
            </qfin-basic-component>
            }
        </mat-step>

        <!-- Step 2: Address Info -->
        <mat-step>
            <ng-template matStepLabel>Address Info</ng-template>
            @if (activeStepIndex() === 1 && candidateMasterData()) {
            <!-- Address component goes here -->
            }
        </mat-step>

        <!-- Add remaining steps sequentially -->

    </mat-stepper>
</div>