<div
    class="flex items-center justify-between px-5 py-3 bg-white/60 dark:bg-slate-900 border-b border-slate-200 dark:border-slate-800">
    <div class="flex items-center gap-4">
        <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50 dark:bg-secondary-600/50 text-indigo-600 dark:text-indigo-500 border border-indigo-100 dark:border-0">
            <svg lucideIcon="lock" class="w-6 h-6"></svg>
        </div>
        <div>
            <h2 class="text-xl font-bold text-slate-800 dark:text-slate-100 leading-tight">
                Reset Password
            </h2>

        </div>
    </div>
    <button (click)="onCancel()"
        class="p-2 text-slate-400 hover:text-rose-600 hover:bg-rose-50 rounded-full transition-colors cursor-pointer focus:outline-none">
        <svg lucideIcon="x" class="w-5 h-5"></svg>
    </button>
</div>
<mat-dialog-content class="p-5!">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
            <mat-label>Password</mat-label>
            <div class="w-12 flex justify-center" matPrefix>
                <svg lucideIcon="key-round" class="w-5 h-5"></svg>
            </div>
            <input matInput type="text" autocomplete="off" [formField]="resetForm.password"
                placeholder="Enter Password">
            <mat-error class="cus-error">
                {{ resetForm.password().errors()[0]?.message }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
            <mat-label>Confirm Password</mat-label>
            <div class="w-12 flex justify-center" matPrefix>
                <svg lucideIcon="key-round" class="w-5 h-5"></svg>
            </div>
            <input matInput type="text" autocomplete="off" [formField]="resetForm.confirmPassword"
                placeholder="Enter Password">
            <mat-error class="cus-error">
                {{ resetForm.confirmPassword().errors()[0]?.message }}
            </mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-between! px-6 py-4 bg-white/60 dark:bg-slate-800 border-t border-slate-200">
    <div class="flex justify-end gap-3">

        <button (click)="onSubmit()" class="global-btn shine-sweep lift">
            <svg lucideIcon="save" class="w-4 h-4"></svg> Save
        </button>

        <button (click)="onCancel()"
            class="cursor-pointer px-5 py-2.5 flex items-center gap-2 bg-white border border-slate-300 hover:bg-rose-50 hover:text-rose-600 hover:border-rose-200 text-slate-700 text-sm font-semibold rounded-lg shadow-sm transition-all disabled:opacity-60 disabled:cursor-not-allowed">
            <svg lucideIcon="x" class="w-4 h-4"></svg>
            Cancel
        </button>
    </div>
</mat-dialog-actions>