<div
  class="grid grid-cols-1 gap-4"
  [class.md:grid-cols-1]="columns() === 1"
  [class.md:grid-cols-2]="columns() === 2"
  [class.md:grid-cols-3]="columns() === 3"
  [class.md:grid-cols-4]="columns() === 4">
    @for(level of levels(); track level.level){
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
        <mat-label>{{ level.label }}</mat-label>
        <div class="w-12 flex justify-center" matPrefix>
            <svg [lucideIcon]="iconMap[level.icon]" class="w-5 h-5"></svg>
        </div>
        <mat-select [value]="level.selectedId" (valueChange)="select(level.level,$event)">
            @for(option of level.options; track option.id){
            <mat-option [value]="option.id">
                {{ option.name }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
    }
</div>