<div class="page-container">
    <div class="header-group">
        <div class="flex items-center gap-3"></div>
        <div class="headerBtn-area">
            @if (selectedAttendanceHistory() === null && isViewMode()) {
            <button type="button" (click)="toggleFilterArea()"
                class="filter-btn glass-input lift shine-sweep">
                <svg lucideIcon="funnel" class="w-4 h-4"></svg>
                Filter
            </button>
            }
        </div>
    </div>

    <div class="flex items-start" [ngClass]="isViewMode() ? 'gap-4' : 'gap-0'">


        <div class="mainCard-area glass" [ngClass]="{
                    'w-full max-w-full opacity-100 translate-x-0': selectedAttendanceHistory() === null && isViewMode(),
        'w-1/4 max-w-[25%] opacity-100 translate-x-0 sticky top-0 h-[calc(100vh-170px)]': isViewMode() && selectedAttendanceHistory() !== null,
                    'w-0 max-w-0 h-0 opacity-0 -translate-x-4 pointer-events-none': !isViewMode()
                  }">

            @if (selectedAttendanceHistory() === null && isViewMode()) {
            @if (showFilterArea()) {
            <div class="filter-area">
                <div class="filter-container">
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>Employee Name,Code / Organization Unit</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="user-search" class="w-5 h-5"></svg>
                            </div>
                            <input matInput [formField]="searchForm.tempSearch" autocomplete="off"
                                placeholder="Enter name or code or Organization Unit">
                        </mat-form-field>
                    </div>
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>From Date</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="calendar-check" class="w-5 h-5"></svg>
                            </div>
                            <input matInput [matDatepicker]="fromDatePicker" [formField]="searchForm.fromDate"
                                placeholder="Select From Date" autocomplete="off" [readonly]="true">
                            <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>To Date</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="calendar-check" class="w-5 h-5"></svg>
                            </div>
                            <input matInput [matDatepicker]="toDatePicker" [formField]="searchForm.toDate"
                                placeholder="Select To Date" autocomplete="off" [readonly]="true">
                            <mat-datepicker-toggle matIconSuffix [for]="toDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>Status</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="clock" class="w-5 h-5"></svg>
                            </div>
                            <mat-select [formField]="searchForm.status" placeholder="Select Status">
                                <mat-option value="">All</mat-option>
                                @for (status of statuses(); track status) {
                                <mat-option [value]="status">{{ status }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="flex items-center gap-2.5 shrink-0">
                        <button type="button" (click)="applyFilters()"
                            class="global-btn shine-sweep lift">
                            <svg lucideIcon="search" class="w-4 h-4"></svg>
                            Search
                        </button>
                        <button type="button" (click)="resetFilters()"
                            class="reset-btn lift">
                            <svg lucideIcon="rotate-ccw" class="w-4 h-4"></svg>
                            Reset
                        </button>
                    </div>
                </div>
            </div>
            }
            } @else {
            <div class="search-area">
                <div
                    class="search-input-area">
                    <svg lucideIcon="user-search" class="w-4 h-4 text-slate-400 shrink-0"></svg>
                    <input type="text" [formField]="searchForm.tempSearch" autocomplete="off"
                        placeholder="Name, Code or Org Unit..."
                        class="search-input-style" />
                </div>
                <button (click)="applyFilters()"
                    class="search-input-btn lift">
                    <svg lucideIcon="search" class="w-4 h-4"></svg>
                </button>
            </div>
            }

            @if (employeeAttendanceHistoryStore.loading()) {
            <div class="px-4 py-10 text-sm text-slate-500 text-center flex justify-center gap-2">
                <svg lucideIcon="loader" class="w-5 h-5"></svg>
                Loading Attendance History...
            </div>
            } @else if (employeeAttendanceHistoryStore.error()) {
            <div class="px-4 py-10 text-sm text-red-500 text-center flex justify-center gap-2">
                <svg lucideIcon="octagon-alert" class="w-5 h-5"></svg>
                Unable to load Attendance History.
            </div>
            } @else {
            <qfin-employee-attendance-history-list [data]="employeeAttendanceHistories()"
                [isCollapsed]="selectedAttendanceHistory() !== null" [selectedRow]="selectedAttendanceHistory()"
                [totalRecords]="employeeAttendanceHistoryStore.totalRecords()"
                [pageIndex]="employeeAttendanceHistoryStore.pageIndex()"
                [pageSize]="employeeAttendanceHistoryStore.pageSize()" (pageChanged)="pageChanged($event)"
                (onViewDetail)="onView($event)">
            </qfin-employee-attendance-history-list>
            }
        </div>

        @if (selectedAttendanceHistory() !== null) {
        <div class="viewArea-container glass"
            [ngClass]="{
           'w-3/4': isViewMode() && selectedAttendanceHistory() !== null,
            'w-full': !isViewMode()
        }">

            <div class="viewArea-header">
                <div class="viewArea-headerInner">
                    <div class="flex items-center gap-4">
                        <div>
                            <div class="flex justify-start gap-2">
                                <h2 class="viewArea-title">
                                    Attendance History Details
                                </h2>
                                <div
                                    class="viewArea-badge">
                                    <span class="w-1.5 h-1.5 rounded-full bg-blue-500 dark:bg-blue-400"></span>
                                    <span
                                        class="text-[10px] font-semibold text-blue-600 dark:text-blue-400 uppercase tracking-wider">
                                        View Mode
                                    </span>
                                </div>
                            </div>
                            <p class="viewArea-description">
                                Review attendance history information.
                            </p>
                        </div>
                    </div>
                </div>

                <button aria-label="Close" matTooltip="Close" class="pannel-close"
                    (click)="closePanel()">
                    <svg lucideIcon="x" class="w-4 h-4"></svg>
                </button>
            </div>

            <div>
                <qfin-employee-attendance-history-view [attendanceData]="selectedAttendanceHistory()">
                </qfin-employee-attendance-history-view>
            </div>
        </div>
        }

    </div>
</div>