<div class="flex flex-col">
    <div class="flex flex-wrap items-center justify-end gap-4 mb-2">
        <div class="flex items-center gap-3">
            @if (isViewMode()) {
            <button type="button" (click)="toggleFilterArea()"
                class="glass-input dark:text-white shadow rounded-lg px-4 py-2.5 flex items-center gap-2 text-sm font-medium hover:shadow-glass transition lift shine-sweep cursor-pointer">
                <svg lucideIcon="funnel" class="w-4 h-4"></svg>
                Filter
            </button>
            }
        </div>
    </div>

    <div class="flex items-start" [ngClass]="isViewMode() ? 'gap-4' : 'gap-0'">
        <div class="glass rounded-xl shadow-glass dark:shadow
      overflow-hidden min-w-0 shrink-0
      transition-[width,max-width,opacity,transform] 
      duration-500 ease-in-out" [ngClass]="{
          'w-full max-w-full opacity-100 translate-x-0':
              attendanceId() === EMPTY_UUID && isViewMode(),

          'w-1/4 max-w-[25%] opacity-100 translate-x-0 sticky top-0 h-[calc(100vh-170px)]':
              isViewMode() && attendanceId() !== EMPTY_UUID,

          'w-0 max-w-0 h-0 opacity-0 -translate-x-4 pointer-events-none':
              !isViewMode()
      }">
            @if (attendanceId() === EMPTY_UUID && isViewMode()) {
            @if (showFilterArea()) {
            <div class="p-3 transition-all duration-300">
                <div class="flex flex-wrap md:flex-nowrap items-end gap-5 w-full">
                    <div class="flex-1 min-w-[200px]">

                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>From Date</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="calendar-check" class="w-5 h-5"></svg>
                            </div>
                            <input matInput [matDatepicker]="fromDatePicker" [formField]="searchForm.fromDate"
                                placeholder="Select From Date" autocomplete="off">
                            <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>To Date</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="calendar-check" class="w-5 h-5"></svg>
                            </div>
                            <input matInput [matDatepicker]="toDatePicker" [formField]="searchForm.toDate"
                                placeholder="Select To Date" autocomplete="off">
                            <mat-datepicker-toggle matIconSuffix [for]="toDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>Status</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>

                            </div>
                            <mat-select [formField]="searchForm.status" placeholder="Select Status">
                                <mat-option value="">All Statuses</mat-option>
                                @for (status of statuses; track status) {
                                <mat-option [value]="status">{{ status }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex items-center gap-2.5 shrink-0">
                        <button type="button" (click)="resetFilters()"
                            class="bg-white dark:bg-slate-800 shadow rounded-lg px-4 py-2.5 flex items-center gap-2 text-sm font-medium hover:shadow-glass transition lift cursor-pointer dark:text-slate-200">
                            <svg lucideIcon="rotate-ccw" class="w-4 h-4"></svg>
                            Reset
                        </button>
                        <button type="button" (click)="applyFilters()"
                            class="ripple-btn shadow shine-sweep rounded-lg px-5 py-2.5 flex items-center gap-2 text-sm font-semibold text-white bg-linear-to-r from-primary-500 to-secondary-500 hover:shadow-glow transition lift cursor-pointer">
                            <svg lucideIcon="search" class="w-4 h-4"></svg>
                            Search
                        </button>
                    </div>
                </div>
            </div>
            }
            } @else {
            <div class="flex items-center gap-2 px-4 py-3">
                <div
                    class="flex-1 flex items-center gap-2 bg-white dark:bg-slate-500/10 border border-slate-200 dark:border-slate-400/10 rounded-xl px-3 py-2.5">
                    <svg lucideIcon="search" class="w-4 h-4 text-slate-400 shrink-0"></svg>
                    <input type="text" [formField]="searchForm.tempSearch" placeholder="Search by employee ID"
                        class="bg-transparent outline-none text-sm w-full placeholder:text-slate-400" />
                </div>
                <button (click)="applyFilters()"
                    class="bg-white dark:bg-primary-400/20 dark:text-primary-500 border dark:border-0 border-slate-200 cursor-pointer rounded-xl w-10 h-10 flex items-center justify-center shrink-0 hover:shadow-glass transition lift">
                    <svg lucideIcon="search" class="w-4 h-4"></svg>
                </button>
            </div>
            }

            @if (attendanceHistoryStore.loading()) {
            <div class="px-4 py-10 text-sm text-slate-500 text-center flex justify-center gap-2">
                <svg lucideIcon="loader" class="w-5 h-5"></svg>
                Loading Attendance History...
            </div>
            } @else if (attendanceHistoryStore.error()) {
            <div class="px-4 py-10 text-sm text-red-500 text-center flex justify-center gap-2">
                <svg lucideIcon="octagon-alert" class="w-5 h-5"></svg>
                Unable to load attendance history.
            </div>
            } @else {
            <qfin-attendance-history-component-list [data]="attendanceHistories()"
                [totalRecords]="attendanceHistoryStore.totalRecords()" [pageIndex]="attendanceHistoryStore.pageIndex()"
                [pageSize]="attendanceHistoryStore.pageSize()" (pageChanged)="pageChanged($event)">
            </qfin-attendance-history-component-list>
            }
        </div>
    </div>
</div>