// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --mat-sys-corner-none: 0;
  --mat-sys-corner-extra-small: 0;
  --mat-sys-corner-small: 0;
  --mat-sys-corner-medium: 0;
  --mat-sys-corner-large: 0;
  --mat-sys-corner-extra-large: 0;
  --mat-sys-corner-full: 0;

  @include mat.card-overrides((elevated-container-color: white));
  @include mat.button-overrides((filled-container-shape: 4px,
    ));
  @include mat.icon-button-overrides((touch-target-size: 36px));
  @include mat.expansion-overrides((container-shape: 0px,
      header-hover-state-layer-color: rgb(142, 197, 255),
    ));
  @include mat.sidenav-overrides((container-shape: 0px,
    ));
  @include mat.form-field-overrides((filled-container-color: var(--mat-sidenav-container-background-color, var(--mat-sys-surface)),
      filled-disabled-container-color: var(--mat-sidenav-container-background-color, var(--mat-sys-surface)),
      filled-label-text-weight: 700,
      outlined-outline-width: 0px));
  @include mat.stepper-overrides((header-height: 48px));
  @include mat.slide-toggle-overrides((track-height: 32px, handle-width: 16px, handle-height: 16px));
  @include mat.tree-overrides((node-min-height: 24px,
    ));
}

$compact-theme: mat.define-theme((density:(scale:-4)));

@include mat.form-field-density($compact-theme);

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (brand-family: 'Inter, sans-serif',
        plain-family: 'Inter, sans-serif',
        body-family: 'Inter, sans-serif',
      ),
      density: -1,
    ));
}

// body {
//   color-scheme: light;
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   font-family: 'Inter', sans-serif;
//   margin: 0;
//   height: 100%;
// }

.mat-mdc-form-field-focus-overlay {
  display: none;
  /* Removes the hover/focus overlay */
}

.mdc-text-field {
  padding: 0 !important;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

// .mdc-line-ripple::before,
// .mdc-line-ripple::after {
//     left: 16px !important;
//     right: 16px !important;
//     width: auto !important;
// }
// .mat-mdc-form-field-infix {
//     padding-left: 16px;
//     padding-right: 16px;
// }