/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import "./styles/theme.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/gradients.css";
@import "./styles/animations.css";
@import "./styles/typography.css";
@import "./styles/utilities.css";
@import "./styles/components.css";
@import "./styles/menu.css";
@import "./styles/tree.css";
@import "./styles/dark.css";

.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mat-mdc-form-field-subscript-wrapper {
    display: block !important;
}

::ng-deep .pill-select {
    margin: 0 !important;
}

::ng-deep .pill-select .mdc-notched-outline {
    display: none !important;
}

::ng-deep .pill-select .mat-mdc-text-field-wrapper {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

::ng-deep .pill-select .mat-mdc-form-field-infix {
    min-height: 32px !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

::ng-deep .pill-select .mat-mdc-select-trigger {
    height: 32px;
    display: flex;
    align-items: center;
}

::ng-deep .pill-select .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.year-select {
    width: 90px !important;
}
.error {
    position: absolute;
    bottom: -8px;
    background: #fff;
    left: 12%;
}