/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 16
}

@layer components {

    .menu{

        @apply flex
        items-center
        gap-4
        rounded-2xl
        px-4
        py-3
        text-slate-700
        hover:bg-sky-50
        hover:text-blue-600
        transition
        cursor-pointer;
    }

    .menu .material-symbols-rounded{

        @apply text-[22px];
    }

    .menu.active{

        @apply bg-linear-to-r
        from-blue-500
        via-sky-500
        to-green-400
        text-white
        shadow-lg;
    }

    .toolbar-btn{

        @apply w-11
        h-11
        rounded-xl
        hover:bg-slate-100
        flex
        items-center
        justify-center
        text-slate-600
        transition;
    }

}

.glass-card {
    background: rgba(255, 255, 255, .82);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    border: 1px solid rgba(255, 255, 255, .7);

    box-shadow:
        0 20px 80px rgba(15, 23, 42, .08),
        0 10px 30px rgba(15, 23, 42, .05);
}

.mat-mdc-text-field-wrapper {
  background: rgba(255,255,255,.75);
  backdrop-filter: blur(12px);
  border-radius: 18px !important;
}