<div class="view-container">
    <div class="section-container">
        <div class="box glass">
            <!-- View Header -->
            <div class="box-header">
                <div class="box-group">
                    <div class="box-header-icon">
                        <svg class="text-3xl text-primary-700 dark:text-primary-400"
                            [lucideIcon]="iconMap[organizationUnit()?.organizationUnitTypeIcon!]">
                        </svg>
                    </div>
                    <div>
                        <div class="box-title-group">
                            <h1 class="box-title">
                                {{organizationUnit()?.name}}
                            </h1>
                            <div class="box-edit-btn" matTooltip="Edit" (click)="onShowEdit()">
                                <svg lucideIcon="pencil" class="w-4 h-4 text-secondary dark:text-white"></svg>
                            </div>
                        </div>
                        <p class="box-subTitle">
                            {{organizationUnit()?.organizationUnitTypeName}}</p>
                    </div>
                </div>

                <div class="badge-container">
                    <!-- Status Badge -->
                    <div class="badge-group">
                        <!-- <span class="text-xs font-medium text-slate-400 dark:text-slate-500 uppercase tracking-wider">Status</span> -->
                        <span class="badge" [class.text-emerald-600]="organizationUnit()?.isActive"
                            [class.dark:text-emerald-400]="organizationUnit()?.isActive"
                            [class.text-rose-600]="!organizationUnit()?.isActive"
                            [class.dark:text-rose-400]="!organizationUnit()?.isActive">
                            <span class="w-2 h-2 rounded-full relative flex">
                                <span class="animate-circle" [class.bg-emerald-400]="organizationUnit()?.isActive"
                                    [class.bg-rose-400]="!organizationUnit()?.isActive"></span>
                                <span class="badge-status" [class.bg-emerald-500]="organizationUnit()?.isActive"
                                    [class.bg-rose-500]="!organizationUnit()?.isActive"></span>
                            </span>
                            {{organizationUnit()?.isActive ? 'Active' : 'Inactive'}}
                        </span>
                    </div>

                    <!-- Edit Action -->
                    <!-- <button type="button" (click)="onShowEdit()"
                        class="inline-flex items-center gap-1.5 rounded-xl border border-blue-500/30 dark:border-blue-400/20 bg-blue-600/10 dark:bg-blue-500/20 px-4 py-2 text-sm font-semibold text-blue-600 dark:text-blue-400 shadow-sm transition-all duration-300 hover:bg-blue-600 dark:hover:bg-blue-500 hover:text-white hover:shadow-glow-blue cursor-pointer" matTooltip="Edit">
                        <span class="material-symbols-outlined text-[18px]">edit</span>
                        Edit
                    </button> -->
                </div>
            </div>
            <!-- General Information Card -->
            <div class="p-4 pt-0">
                <h3 class="box-content-heading">
                    General Information
                </h3>
                <div class="green-line"></div>
                <div class="content-grid-2">
                    <div class="gen-info">
                        <div class="gen-icon">
                            <svg lucideIcon="user" class="w-5 h-5 text-primary-700"></svg>
                        </div>
                        <div>
                            <label class="gen-label">Name</label>
                            <p class="gen-title">
                                {{organizationUnit()?.name}}
                            </p>
                        </div>
                    </div>
                    <div class="gen-info">
                        <div class="gen-icon">
                            <svg lucideIcon="layers" class="w-5 h-5 text-primary-700"></svg>
                        </div>
                        <div>
                            <label class="gen-label">Organization
                                Unit
                                Type</label>
                            <p class="gen-title">
                                {{organizationUnit()?.organizationUnitTypeName}}</p>
                        </div>
                    </div>
                    @for (item of organizationUnit()?.hierarchy; track $index) {
                    @if (item.level > 0) {
                    <div class="gen-info">
                        <div class="gen-icon">
                            <svg [lucideIcon]="iconMap[item.typeIcon]" class="w-5 h-5 text-primary-700"></svg>
                        </div>
                        <div>
                            <label class="gen-label">{{item.typeName}}</label>
                            <p class="gen-title">{{item.name}}</p>
                        </div>
                    </div>
                    }
                    }
                    @if (organizationUnit()?.parentName) {
                    <div class="gen-info">
                        <div class="gen-icon">
                            <svg lucideIcon="layers" class="w-5 h-5 text-primary-700"></svg>
                        </div>
                        <div>
                            <label class="gen-label">Parent Unit</label>
                            <p class="gen-title">
                                {{organizationUnit()?.parentName}}</p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="box glass">
            <!-- Hierarchy Path timeline -->
            <div class="p-4 flex flex-col">
                <h3 class="box-content-heading">
                    Hierarchy Path
                </h3>
                <div class="green-line"></div>
                <div class="flex-1 overflow-y-auto pr-2">
                    <div class="space-y-0 pl-1">
                        @for (item of organizationUnit()?.hierarchy; track $index; let last = $last) {
                        <div class="relative flex gap-4" [class.pb-6]="!last">
                            <div class="relative flex flex-col items-center">
                                <!-- Connection line -->
                                @if (!last) {
                                <div class="dashed-line">
                                </div>
                                }

                                <!-- Timeline Dot -->
                                @if (item.level > 0) {
                                <div class="blue-radio-outline">
                                    <div class="blue-radio-solid"></div>
                                </div>
                                } @else {
                                <div class="green-radio-outline">
                                    <div class="green-radio-solid"></div>
                                </div>
                                }
                            </div>

                            <div class="flex flex-col">
                                <h4 class="path-title">
                                    {{item.name}}
                                </h4>
                                <span class="path-label">
                                    {{item.typeName}}
                                </span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box glass p-4 pb-6">
        <div class="flex flex-col gap-3">
            <div class="flex justify-between">
                <div>
                    <h4 class="box-content-heading">
                        Designations
                    </h4>
                    <div class="blue-line mb-2!"></div>
                </div>
                <div>
                    <button class="global-btn ripple-btn shine-sweep lift" (click)="onDesignation('id')">
                        <svg lucideIcon="plus" class="w-4 h-4"></svg>
                        Add New Designation
                    </button>
                </div>
            </div>

            <div class="table-box">
                <table mat-table [dataSource]="organizationUnit()?.designations||[]" matSortDisableClear
                    class="w-full table">

                    <ng-container matColumnDef="sl">
                        <th mat-header-cell *matHeaderCellDef>Sl.</th>
                        <td mat-cell *matCellDef="let row; let i = index"
                            class="px-3 py-1.5 text-[13px] font-medium dark:text-slate-300">
                            {{ i + 1 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let item"
                            class="px-3 py-1.5 text-[13px] font-medium dark:text-slate-300">
                            <div class="flex items-center gap-2"> {{ item.name }}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="post">
                        <th mat-header-cell *matHeaderCellDef> Post </th>
                        <td mat-cell *matCellDef="let item"> {{ item.postName }} </td>
                    </ng-container>
                    <ng-container matColumnDef="grade">
                        <th mat-header-cell *matHeaderCellDef> Grade </th>
                        <td mat-cell *matCellDef="let item"> {{ item.gradeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef>Role</th>

                        <td mat-cell *matCellDef="let item">
                            {{ item.roleName }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef>Is Active</th>

                        <td mat-cell *matCellDef="let item">
                            <span class="px-2 py-1 text-xs font-medium rounded" [class.bg-green-100]="item.isActive"
                                [class.text-green-800]="item.isActive" [class.bg-red-100]="!item.isActive"
                                [class.text-red-800]="!item.isActive">
                                {{ item.isActive? 'Yes': 'No' }}
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center! p-8 italic text-gray-500 border-b-0"
                            [attr.colspan]="displayedColumns().length">
                            <div class="flex justify-center items-center gap-2">
                                <svg lucideIcon="triangle-alert" class="w-5 h-5 text-slate-400"></svg>
                                No Designations data found.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="box glass p-4 pb-6">
        <div class="flex flex-col gap-3">
            <div>
                <h4 class="box-content-heading">
                    Audit Information
                </h4>
                <div class="green-line"></div>
            </div>
            <div class="audit-grid">
                <div class="audit-small-box">
                    <div class="audit-icon-box bg-primary-500/15 dark:bg-primary-300">
                        <svg lucideIcon="user-check" class="w-4 h-4 text-primary-700"></svg>
                    </div>
                    <div>
                        <p class="audit-label">
                            Created By</p>
                        <p class="audit-title">{{organizationUnit()?.createdBy}}</p>
                    </div>
                </div>
                <div class="audit-small-box">
                    <div class="audit-icon-box bg-secondary-500/15 dark:bg-primary-300">
                        <svg lucideIcon="calendar-plus" class="w-4 h-4 text-secondary-600"></svg>
                    </div>
                    <div>
                        <p class="audit-label">
                            Created On</p>
                        <p class="audit-title">{{organizationUnit()?.createdOn | date: 'dd-MM-yyyy hh:mm a'}}</p>
                    </div>
                </div>
                <div class="audit-small-box">
                    <div class="audit-icon-box bg-accent-500/15 dark:bg-primary-300">
                        <svg lucideIcon="user-cog" class="w-4 h-4 text-secondary-600"></svg>
                    </div>
                    <div>
                        <p class="audit-label">
                            Last Modified By</p>
                        <p class="audit-title">{{organizationUnit()?.lastModifiedBy}}</p>
                    </div>
                </div>
                <div class="audit-small-box">
                    <div class="audit-icon-box bg-primary-500/15 dark:bg-primary-300">
                        <svg lucideIcon="calendar-clock" class="w-4 h-4 text-primary-700"></svg>
                    </div>
                    <div>
                        <p class="audit-label">
                            Last Modified On</p>
                        <p class="audit-title">{{organizationUnit()?.lastModifiedOn | date: 'dd-MM-yyyy hh:mm a'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>