<form (submit)="onSubmit($event)">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-6">
      <!-- User ID -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>MFA Code</mat-label>
        <div matPrefix class="w-10 flex justify-center text-primary-700">
          <svg lucideIcon="shield-check" class="w-5 h-5"></svg>
        </div>
        <input matInput [formField]="mfaForm.mfaCode" autocomplete="mfaycode" placeholder="Enter MFA Code">
        <!-- @if (
        loginForm.username.touched() &&
        loginForm.username.invalid()
      ) {

        <mat-error>
          User ID is required
        </mat-error>

      } -->
      </mat-form-field>
    </div>

    <div class="flex justify-end items-center text-sm ">
      <a (click)="onMfaRegister()" class="flex gap-2 items-center cursor-pointer">
        <svg lucideShieldCheck class="w-5 h-5 text-primary-700 hover:text-blue-700"></svg>
        <span class="text-blue-600 hover:text-primary-700">Register MFA</span>
      </a>
    </div>

    <!-- <button mat-flat-button color="primary" class="login-button w-full mt-6" [disabled]="mfaForm().invalid()">
      Sign In
    </button> -->
    <button [disabled]="mfaForm().invalid()"
        class="w-full ripple-btn shine-sweep rounded-lg px-5 py-[14px] font-lg flex items-center justify-center gap-2 text-sm shadow-md font-semibold text-white bg-gradient-to-r from-primary-500 to-secondary-500 shadow-glow hover:shadow-glow transition cursor-pointer lift">
        <svg lucideIcon="badge-check" class="w-4 h-4"></svg>
        Verify
    </button>
  </div>
</form>