<!-- <footer class="h-12bg-white border-t border-slate-200 px-8 flex justify-between items-center text-sm text-slate-500"> -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            &copy; 2026 <span class="we">We</span><span class="grow">Grow</span> Financial Services Private Limited.
        </div>
        <div class="footer-right">
            <span>Version 3.0.0</span>
            <span>.</span>
            <p>Powered By : <a href="https://qbent.in/" target="_blank" class="qbent">QBENT</a></p>
        </div>
    </div>
</footer>