<div class="flex flex-col">
    <!-- Breadcrumb Section -->
    <div class="flex flex-wrap items-center justify-between gap-4 mb-2 z-10">
        <div class="flex items-center gap-3">
            @if (selectedUserId() === EMPTY_UUID && isViewMode()) {
            <button type="button" (click)="toggleFilterArea()"
                class="glass-input dark:text-white shadow rounded-lg px-4 py-2.5 flex items-center gap-2 text-sm font-medium hover:shadow-glass transition lift shine-sweep cursor-pointer">
                <svg lucideIcon="funnel" class="w-4 h-4"></svg>
                Filter
            </button>
            } @else {}
            <button
                class="ripple-btn shine-sweep rounded-lg px-5 py-2.5 flex items-center gap-2 text-sm font-semibold text-white bg-linear-to-r from-primary-500 to-secondary-500 shadow-glow hover:shadow-glow transition cursor-pointer lift"
                (click)="onAdd()">
                <svg lucideIcon="plus" class="w-4 h-4"></svg>
                Add New
            </button>
        </div>
    </div>
    <!-- Content Section -->
    <div class="flex items-start" [ngClass]="isViewMode() ? 'gap-4' : 'gap-0'">
        <div class="glass rounded-xl shadow-glass dark:shadow
           overflow-hidden min-w-0 shrink-0
           transition-[width,max-width,opacity,transform] 
           duration-500 ease-in-out"
            [ngClass]="{
                'w-full max-w-full opacity-100 translate-x-0':
                    selectedUserId() === EMPTY_UUID && isViewMode(),

                'w-1/4 max-w-[25%] opacity-100 translate-x-0 sticky top-0 h-[calc(100vh-170px)]':
                    isViewMode() && selectedUserId() !== EMPTY_UUID,

                'w-0 max-w-0 h-0 opacity-0 -translate-x-4 pointer-events-none':
                    !isViewMode()
            }">
            <!-- COLLAPSED SEARCH -->
            <!-- @if (selectedUserId() === EMPTY_UUID && isViewMode()) {
            @if (showFilterArea()) {
            <div class="p-3 transition-all duration-300">
                <div class="flex flex-wrap md:flex-nowrap items-end gap-5 w-full">
                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>Search By Name/Code</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="search" class="w-5 h-5"></svg>
                            </div>
                            <input matInput autocomplete="off" placeholder="Enter name or code"
                                [(ngModel)]="tempSearch">
                        </mat-form-field>
                    </div>

                    <div class="flex-1 min-w-[200px]">
                        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
                            <mat-label>Category</mat-label>
                            <div class="w-12 flex justify-center" matPrefix>
                                <svg lucideIcon="tag" class="w-5 h-5"></svg>
                            </div>
                            <mat-select placeholder="Select category" [(ngModel)]="tempCategory">
                                <mat-option value="">All Categories</mat-option>
                                @for (category of categories(); track category.id) {
                                <mat-option [value]="category.id">{{ category.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="flex items-center gap-2.5 shrink-0">
                        <button type="button" (click)="resetFilters()"
                            class="bg-white dark:bg-slate-800 shadow rounded-lg px-4 py-2.5 flex items-center gap-2 text-sm font-medium hover:shadow-glass transition lift cursor-pointer dark:text-slate-200">
                            <svg lucideIcon="rotate-ccw" class="w-4 h-4"></svg>
                            Reset
                        </button>
                        <button type="button" (click)="applyFilters()"
                            class="ripple-btn shadow shine-sweep rounded-lg px-5 py-2.5 flex items-center gap-2 text-sm font-semibold text-white bg-linear-to-r from-primary-500 to-secondary-500 hover:shadow-glow transition lift cursor-pointer">
                            <svg lucideIcon="search" class="w-4 h-4"></svg>
                            Search
                        </button>
                    </div>
                </div>
            </div>
            }
            } @else {
            <div class="flex items-center gap-2 px-4 py-3">
                <div
                    class="flex-1 flex items-center gap-2 bg-white dark:bg-slate-500/10 border border-slate-200 dark:border-slate-400/10 rounded-xl px-3 py-2.5">
                    <svg lucideIcon="search" class="w-4 h-4 text-slate-400 shrink-0"></svg>
                    <input type="text" [(ngModel)]="tempSearch" placeholder="Search by Name"
                        class="bg-transparent outline-none text-sm w-full placeholder:text-slate-400" />
                </div>
                <button (click)="applyFilters()"
                    class="bg-white dark:bg-primary-400/20 dark:text-primary-500 border dark:border-0 border-slate-200 cursor-pointer rounded-xl w-10 h-10 flex items-center justify-center shrink-0 hover:shadow-glass transition lift">
                    <svg lucideIcon="search" class="w-4 h-4"></svg>
                </button>
            </div>
            } -->

            <!-- LIST -->
            <qfin-user-list-component [data]="searchedUsers()"
                [isCollapsed]="selectedUserId() !== EMPTY_UUID || !isViewMode()"
                (showDetail)="onView($event)">
            </qfin-user-list-component>
        </div>

        @if (selectedUserId() !== EMPTY_UUID) {
        <div class="glass rounded-xl shadow-glass dark:shadow px-5 pt-4 pb-2 min-w-0 transition-all duration-500 ease-in-out"
            [ngClass]="{
                'w-3/4':
                    isViewMode() &&
                    selectedUserId() !== EMPTY_UUID,

                'w-full':
                    !isViewMode()
            }">
            <!-- HEADER -->
            <div class="flex justify-between items-center border-b border-slate-200 dark:border-slate-400/10 pb-3 mb-4">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-4">
                        <!-- <div
                            class="w-14 h-14 rounded-xl shadow-md bg-primary-500/10 dark:bg-primary-500/20 flex items-center justify-center dark:shadow-none">
                            @if (selectedUserId() === EMPTY_UUID) {
                            <svg lucideIcon="plus" class="w-5 h-5 text-primary-700 dark:text-primary-400"></svg>
                            } @else if (isViewMode()) {
                            <svg lucideIcon="eye" class="w-5 h-5 text-primary-700 dark:text-primary-400"></svg>
                            } @else {
                            <svg lucideIcon="square-pen" class="w-5 h-5 text-primary-700 dark:text-primary-400"></svg>
                            }
                        </div> -->
                        <div>
                            <div class="flex justify-start gap-2">
                                <h2 class="text-xl font-bold text-slate-800 dark:text-slate-100">
                                    @if (selectedUserId() === EMPTY_UUID) {
                                    Add Salary
                                    } @else if (isViewMode()) {
                                    Details
                                    } @else {
                                    Edit Salary
                                    }
                                </h2>
                                <div
                                    class="flex items-center gap-1.5 px-3 pt-1 pb-0 rounded-xl bg-blue-500/5 dark:bg-blue-400/5 border border-blue-500/10 dark:border-blue-400/10 shadow-inner">
                                    <span class="w-1.5 h-1.5 rounded-full bg-blue-500 dark:bg-blue-400"></span>
                                    <span
                                        class="text-[10px] font-semibold text-blue-600 dark:text-blue-400 uppercase tracking-wider">
                                        @if (selectedUserId() === EMPTY_UUID) {
                                        New Mode
                                        } @else if (isViewMode()) {
                                        View Mode
                                        } @else {
                                        Edit Mode
                                        }
                                    </span>
                                </div>
                            </div>
                            <p class="text-xs text-slate-400 dark:text-slate-500 mt-1">
                                @if (selectedUserId() === EMPTY_UUID) {
                                Create a new salary component and configure its applicability.
                                } @else if (isViewMode()) {
                                View the user details and configuration.
                                } @else {
                                Update the user and its applicability rules.
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <button aria-label="Close" matTooltip="Close"
                    class="w-10 h-10 flex items-center justify-center rounded-lg text-slate-400 hover:text-red-500 hover:bg-red-50 dark:hover:bg-red-500/10 transition cursor-pointer"
                    (click)="closePanel()">
                    <svg lucideIcon="x" class="w-4 h-4"></svg>
                </button>
            </div>

            <!-- <div> -->
            @if (isViewMode() && selectedUserId() !== EMPTY_UUID) {
            <qfin-user-view [userId]="selectedUserId()" (showEdit)="onEdit()">
            </qfin-user-view>
            } @else {
            <!-- <qfin-salary-component-detail [salaryId]="selectedUserId()" (onCancel)="closePanel()"
                (onSave)="closePanel()">
            </qfin-salary-component-detail> -->
            }
            <!-- </div> -->
        </div>
        }
    </div>
</div>