<header
    class="sticky top-0 flex w-full bg-white border-gray-200 dark:border-gray-800 dark:bg-gray-900 lg:border-b z-999">
    <div class="flex flex-col items-center justify-between grow lg:flex-row lg:px-6">
        <div
            class="flex items-center justify-between w-full gap-2 px-3 py-3 border-b border-gray-200 dark:border-gray-800 sm:gap-4 lg:justify-normal lg:border-b-0 lg:px-0 lg:py-4">
            <button (click)="onHandleToggleDrawer()"
                class="flex items-center justify-center w-10 h-10 text-gray-500 rounded-lg z-99999">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <div class="flex flex-col justify-center min-w-0 py-0.5">
                <h1 class="text-lg font-extrabold tracking-tight text-slate-950 dark:text-white leading-tight">
                    Dashboard
                </h1>
                <p class="text-[12px] font-medium text-slate-500 leading-normal hidden sm:block truncate mt-0.5">
                    Track your organization's performance with real-time operational and financial insights.
                </p>
            </div>
        </div>
        <div
            class="items-center justify-between w-full gap-4 px-5 py-4 shadow-theme-md lg:flex lg:justify-end lg:px-0 lg:shadow-none">
            <div class="flex items-center gap-2 2xsm:gap-3">

            </div>
        </div>
    </div>
</header>